<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="modal-confirm-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="modal-confirm-label">Attention !</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Êtes vous sur de vouloir supprimer ce groupe ?
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark btn-icon-split" data-bs-dismiss="modal">
                    <span class="icon text-white-50">
                        <i class="fas fa-undo"></i>
                    </span>
                    <span class="text">Annuler</span>
                </button>

                <a href="#" class="btn btn-danger btn-icon-split">
                    <span class="confirm-icon icon text-white-50">
                        <i class="far fa-trash-alt"></i>
                    </span>
                    <span class="text modal-btn-label">Supprimer</span>
                </a>
            </div>
        </div>
    </div>
</div>
